.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: #0470d3;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  -webkit-text-stroke: 1px #fff;
}

.logo:hover {
  cursor: pointer;
}

.searchCart {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartButton {
  background: none;
  border: none;
  position: relative;
}

.cartButton:hover {
  cursor: pointer;
}
.cartNumber {
  font-size: 12px;
  position: absolute;
  left: 3.2px;
  top: -1px;
}
.cartData {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: 1px solid #0470d3;
}
