.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;
}
.container {
  padding: 1rem 1rem;
  width: 1204px;

  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  border-radius: 5px;
}
